fastapi
uvicorn[standard]
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
prophet
shap
openpyxl
pyod
openai
plotly
python-dotenv
psycopg2-binary
email-validator
requests
